a {
  text-decoration: none;
  color: black;
}
.carpool {
  display: flex;
  justify-content: flex-start;
  font-size: x-large;
  padding-top: 30px;
  padding-left: 10px;
  padding-bottom: 13px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.carpool span {
  margin-left: 20px;
}
.carpool__list-list {
  display: flex;
  font-size: large;
  justify-content: space-between;
  margin-right: 40px;
}
.carpool__list-list li:last-child {
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.carpool__info {
  margin: 10px 0px;
  padding-bottom: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.8);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  font-size: large;
  display: flex;
  justify-content: space-evenly;
}
.carpool__info-two {
  padding: 0px 15px;
}
