* {
    box-sizing: border-box;
    font-family: 'Noto Sans KR' , sans-serif;
}

body {
    margin: 0;
    background-color: #c9bbca;
}

.finish-form {
    width: 350px;
    background-color: #ffffff;
    margin-left:auto;
    margin-right:auto;
    margin-top:50px;
    border-right:5px;
    padding: 50px;
    text-align: center;
}


.btn_login {
    background-color: #c9bbca;

    border: none;
  
    color: white;
  
    padding: 3px 20px;
  
    text-align: center;
  
    text-decoration: none;
  
    display: inline-block;
  
    font-size: 16px;
  
    margin:-3px 2px;
    margin-left: -5px;
  
    cursor: pointer;
}
