a {
  text-decoration: none;
  color: black;
}
.map__info img {
  width: 100%;
  height: 250px;
  margin-top: 25px;
  position: relative;
}
.map__info span {
  position: absolute;
  top: 50px;
  right: 20px;
  background-color: cornflowerblue;
  padding: 5px;
  border-radius: 5%;
  color: wheat;
}
.map__info span:last-child {
  position: absolute;
  top: 85px;
  right: 20px;
  background-color: darkgreen;
  padding: 5px;
  border-radius: 5%;
  color: wheat;
}
.deparrtemre {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  padding: 5px 0px;
}
.deparrtemre__remain {
  border-radius: 50%;
  background-color: cornflowerblue;
  padding: 8px;
  font-size: large;
  margin-right: 8px;
}
.deparrtemre__dear {
  font-size: xx-large;
  text-align: center;
}
.deparrtemre__time {
  font-size: xx-large;
}
.user__indi {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}
.user__indi-profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.user__indi-parti1 {
  display: flex;
  justify-content: flex-start;
  font-size: x-large;
  align-items: center;
}
.user__indi-parti2 {
  display: flex;
  justify-content: flex-end;
  font-size: larger;
  align-items: center;
}
.user__indi-temper span:nth-child(2) {
  text-decoration: underline;
}
.user__indi-auth {
  margin-left: 20px;
}
.user__indi-auth i:first-child {
  padding: 8px 8px;
  background-color: crimson;
  border-radius: 50%;
}
.user__indi-auth i:last-child {
  padding: 8px 8px;
  background-color: cornsilk;
  border-radius: 50%;
}
.minmax {
  padding: 10px 0px;
  font-size: larger;
}
.mine__canclose {
  bottom: 0;
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  z-index: 2;
  font-size: x-large;
  background-color: antiquewhite;
}
.mine__canclose-cancle {
  padding: 15px 72.5px;
  background-color: crimson;
  margin: 0px 0px;
  color: aliceblue;
}
.mine__canclose-close {
  background-color: darkgreen;
  padding: 15px 72.5px;
  margin: 0px 0px;
  color: aliceblue;
}
