@import "csscollection/reset.css";
.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: whitesmoke;
  box-sizing: border-box;
  border-top: 1px solid rgba(121, 121, 121, 0.3);
  padding-right: 50px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__link {
  position: relative;
}

.nav__btn i {
  color: #011140;
  transition: transform 0.2s ease-in-out;
}
.nav__btn i:hover {
  transform: scale(1.2);
}

input:focus {
  border: 0px;
}
button:focus {
  border: 0px;
}
