.profile__modify{
  width: 100%;
}
.profile__modify-ali i{
  left: 10px;
  color: white;
  margin-top: 5px;
}
.profile__modify-ali{
  padding: 10px 0px;
  font-size: x-large  ;
  margin-top: 30px;
  background-color:#011140 ;
  color:white;
  text-align: center;
  font-weight: 550;
  display: flex;
  justify-content: flex-start;
}
.profile__modify-ali span{
  margin-left: 60px;
}

#profile__modify-con {
  text-align: center;
  margin-top: 30px;
}
#profile__modify-con img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.profile__modify__pic label {
  background-color: rgb(122, 122, 122);
  padding: 10px 20px;
  border-radius: 5%;
  color: aliceblue;
}
.profile__modify__name input {
  width: 65%;
  height: 20px;
  border: 0ch;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  font-size: large;
  text-align: center;
}
.profile__modify-input {
  bottom: 0px;
  display: flex;
  justify-content: center;
  position: fixed;
  padding: 10px 0px;
  width: 100%;
  box-sizing: border-box;
  z-index: 2;
  background-color: rgb(122, 122, 122);;
}
.profile__modify-input__btn {
  border: 0;
  background-color: rgb(122, 122, 122);
  font-size: x-large;
  color: aliceblue;
}
a {
  text-decoration: none;
  color: inherit;
}
.profile__modify i {
  position: fixed;
  top: 40px;
  margin-left: 5px;
  z-index: 2;
}
