* {
    box-sizing: border-box;
    font-family: 'Noto Sans KR' , sans-serif;
}

body {
    margin: 0;
    background-color: #011140;
}

.psfind-form {
    width: 450px;
    background-color: #ffffff;
    margin-left:auto;
    margin-right:auto;
    margin-top:50px;
    border-right:5px;
    padding: 50px;
    text-align: auto;


}

.email_check{
    background-color: #011140;

    border: none;
  
    color: white;
  
    padding:  3px 20px;
  
    text-decoration: none;
  
    display: inline;
  
    font-size: 12px;
  
    margin: 10px 2px;
  
    cursor: pointer;
    text-align: auto;
}

.phone_check{
    background-color: #011140;

    border: none;
  
    color: white;
  
    padding:  3px 20px;
  
    text-align: auto;
  
    text-decoration: none;
    display: inline;
  
    font-size: 12px;
  
    margin: 10px 2px;
  
    cursor: pointer;
}

.check{
    background-color: #011140;

    border: none;
  
    color: white;
  
    padding:  3px 20px;
  
    text-align: auto;
  
    text-decoration: none;
  
    display: inline-block;
  
    
    font-size: 12px;
  
    margin: 10px 2px;
  
    cursor: pointer;
}

.pw_check{
    background-color: #011140;

    border: none;
  
    color: white;
  
    padding:  3px 20px;
  
    text-align: auto;
  
    text-decoration: none;
  
    display: inline;
  
    font-size: 12px;
  
    margin: 10px 2px;
  
    cursor: pointer;
}

.reset{
    background-color: #011140;

    border: none;
  
    color: white;
  
    padding:  3px 20px;
  
    text-align: auto;
  
    text-decoration: none;
  
    display: inline;
  
    font-size: 12px;
  
    margin: 10px 2px;
  
    cursor: pointer;
}

.cancel{
    background-color: #011140;

    border: none;
  
    color: white;
  
    padding:  3px 20px;
  
    text-align: auto;
  
    text-decoration: none;
  
    display: inline;
  
    font-size: 12px;
  
    margin: 10px 2px;
  
    cursor: pointer;
}
