@import "nav-bar.css";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  width: 360px;
  height: 640px;
  margin: 0px;
}

.status-bar {
  top: 0px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  padding: 5px 3px;
  width: 100%;
  box-sizing: border-box;
  z-index: 2;
  background-color: rgb(251, 255, 255);
  padding-left: 10px;
}

.status-bar__column:first-child span {
  margin-right: 5px;
}

.status-bar__column {
  width: 33%;
}

.status-bar__column:nth-child(2) {
  display: flex;
  justify-content: center;
}

.status-bar__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 15px;
}

.status-bar__column .fa-battery-full {
  margin: 0px 5px;
}
